{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form class="form-signin" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
    </label>
    </div>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Войти</button>
    <p class="my-3 mb-3 text-danger"><a class="text-danger" href="{% url 'signup' %}">Зарегестрироваться</a></p>
</form>

{% endblock content %}