{% extends 'post/base.html' %}
{% block title %}
Создание тега
{% endblock title %}
{% block content %}
    <form action="{% url 'tag_create' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        {% if form.errors %}
    <!-- Error messaging -->
        <div class="alert alert-danger mt-3">
            <p>There were some errors in the information you entered. Please correct the following:</p>
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    <!-- /Error messaging -->
        {% endif %}
        <input class="btn btn-primary mt-3" type="submit" value="Создать">
    </form>
{% endblock content %}